nav.nav-produtos {
    background: $cor-secundaria;
    color: $branco;
    ul.nav {
        li {
            position: relative;
            padding: 10px 0;
            svg {
                font-size: 20px;
                margin-right: 10px;
            }
            ul.nav {
                display: none;
            }
        }
    }
}